.booklist {
  width: 500px;
  max-width: 1170px;
  margin: 50px auto;
  display: grid;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(4.1fr);
  }
}

.book {
  background-color: bisque;
  border-radius: 50px;
  padding: 20px 30px;
}
